body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px; 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_mobile {
    display: none;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
   
}

nav .active a, nav a:hover {
    background-color: #39AAE1;
    color: #ffffff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.colunn {
    flex-direction: column;
}

.banner_headLine {
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.banner_headLine h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0 1px 0 #555555;
    padding: 0;
    margin: 0 0 30px 0;
    max-width: 350px;
}

.banner_headLine h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-shadow: 0 1px 0 #555555;
    margin: 0;
    padding: 0;
    max-width: 450px;
}
.banner_options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #ffffff;
    padding: 0 20px;
}

.banner1 {   
    background: #39aae1;
}
.banner_bar {
    display: flex;
    align-items: center;
    
    padding-bottom: 30px;   
}

.banner_bar .banner_bar_1 {   
    border: 2px solid rgba(252, 252, 252, 0.5);
    flex: 1;
}

.banner_bar .banner_bar_2, .banner_bar .banner_bar_3 {
    border-top: 1px solid rgba(252, 252, 252, 0.5);
    flex: 1;
}

.banner2 {
    background: #0079c7;
}

.banner3 {
    background: #2b4c99;
}

.banner1 h2, .banner2 h2, .banner3 h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner1 p, .banner2 p{
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 13px;
    color: #ffffff;
}

.opening_hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .5px solid rgba(252, 252, 252, 0.1); 
    padding: 0;
    margin: 0;
}

.banner_options p {
    font-size: 12px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral main {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin: 30px 0 20px 0;
}

.widget_title_text {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36A9E1;
    margin-top: 10px;
}

.show_all_button {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px; 
    color: #39aae1;
    margin-right: 30px;
}

.show_all_button button {
    background-color: transparent;
    display: flex;
    border: none;
    color: #39aae1;
    text-decoration: none;
    font-size: 13px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.widget_item{
    flex: 1;
    margin-right: 30px;
    min-width: 300px;
}

article .news_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-bottom: 30px;
}

article .news_posted_at {
   background-color: #2b4c99; 
   color: #ffffff;
   font-size: 12px;
   padding: 10px;
}


article .news_comments {
    background-color: #39aae1; 
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
 }

 article img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
 }

 article h2 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 25px;
 }

 article p {
    font-size: 16px;
    line-height: 1.5;
    color: #727272;
    margin-bottom: 30px;
 }

 article span {
    font-size: 14px;
    color: #727272;
 }

 article span a {
    color: #727272;
    text-decoration: none;
    text-decoration: underline #727272;    
 }

 .news_data_bar {
    margin: 20px 0;
    border-bottom: 1px solid rgba(168, 167, 167, 0.5);
 }

 .widget_body_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b4c99; 
    color: #ffffff;
    padding: 15px;
    margin-bottom: 30px;
 }

 .widget_body_title .widget_body_title_text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
 }

 .widget_body_title .widget_body_title_bar {
    background-color: #ffffff;
    width: 15px;
    height: 1px;
 }
 .widget_body_content {
    display: flex;
 }

 .widget_body_content img {
    width: 100%;
    height: 80px;
    object-fit: fill;
    margin-right: 20px;
 }

 .widget_body_content p {
    font-size: 12px;
    line-height: 1.5;
    color: #727272;
    margin-bottom: 30px;
 }

 .widget_body_btn {
    display: flex;
    justify-content: right;
    gap: 5px;
    margin-bottom: 30px;
 }

 .widget_body_btn button {
    background-color: #2b4c99; 
    color: #ffffff;
    padding: 10px 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border: 0;
    gap: 5px;
 }

 .widget_body_itens {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(168, 167, 167, 0.5);
    padding: 10px 0;
    font-size: 22px;
    color: #727272;
    font-weight: 400;
 }

 .widget_body_text {
    border-bottom: 1px solid rgba(168, 167, 167, 0.5);
    padding: 15px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #727272;
    font-weight: 400;
    padding-bottom: 30px;
 }

 .widget_body_contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
 }

 .widget_body_contact_itens {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(168, 167, 167, 0.5);
    font-size: 12px;
    line-height: 1.5;
    color: #727272;
    font-weight: 400;
 }

 .widget_body_contact_itens p span {
    font-weight: 600;
    color: #000000;
 }

 .widget_body_contact_itens p a {
    color: #39aae1;
    text-decoration: none;
    text-decoration: underline #39aae1;  
 }
 
 footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
 }

 .flex_column {
    flex-direction: column;
 }

 .footer_menu {
    display: flex;

 }

 .fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
 }

 .fm_1 {
    background: #39aae1;
}

.fm_2 {
    background: #0079c7;
}

.fm_3{
    background: #2b4c99;
}

.fm_1 h2, .fm_2 h2, .fm_3 h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px; 
}

.fm_1 .footer_arrow, .fm_2 .footer_arrow, .fm_3 .footer_arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;   
}

.footer_area {
    display: flex;
}

.footer_area_item {
    flex: 1;
    color: #ffffff;
}

.footer_area_item .widget_title_text {
    color: #ffffff;
}

.footer_area_item .footer_mediaSocial {
    display: flex;
    gap: 10px;
}

.footer_area_item .widget_body p {
    font-size: 15px;
    line-height: 1.5;
    color: #727272;
}

.footer_area_item .footer_body_contact {
    display: flex;
    flex: 1;
    gap: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #727272;
    margin-bottom: 20px;
}

.footer_body_contact_anders, .footer_body_contact_phone {
    flex: 1;
}

.footer_body_contact_phone {
    padding-top: 20px;
}

.footer_body_contact_anders p, .footer_body_contact_phone p {
    margin: 0;
}

.footer_area_item .footer_mediaSocial img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.footer_area_item .arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding-right: 30px;
}

.footer_area .arrowRight {
    padding-right: 0;
}

.arrow .widget_title_arrow {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow .widget_title_arrow div {
    border: 1px solid rgba(168, 167, 167, 0.5);
    padding: 3px;
    margin: 0;
}

.footer_area_item ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    padding-right: 20px;
}

.footer_area_item li {
    position: relative;
    padding-left: 24px; /* Espaço para a seta */
  }

.footer_area_item li::before {
    content: "→"; 
    position: absolute;
    left: 0; 
    color: #ffffff; 
    font-size: 12px; 
}

.footer_area_item ul li { 
    color: #727272;   
    font-size: 13px;
    line-height: 1.4;
}

.footer_area_item span {
    padding-left: 24px;
    margin: 6px 0 30px;
    font-size: 11px;
    color: #39aae1;
}

.footer_area .arrowRight ul {
    padding-right: 0;
    margin-right: 0;
}

.widget_body .widget_body_li {
    font-size: 11.6px;
}

.footer_area_item li a {
    color: #ffffff;
}


.footer_copy {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(168, 167, 167, 0.5);
}

.footer_copy p {
    color: #ffffff;
    font-size: 12px;    
}

.footer_copy .footer_copy_arrows {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    header {
        height: auto;
    }

    header .container {
        flex-direction: row;
    }

    .logo {
        padding-left: 20px;
    }

    .menu_mobile {
        display: block;
        padding-right: 20px;
        margin: 40px 0;
    }

    .menu_mobile i {
        font-size: 30px;
        color: #2b4c99;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }

    nav ul li a {
        padding: 5px 25px;
    }

    .banner_headLine {
        padding: 20px;
    }
    .banner_headLine h1 {
        font-size: 50px;
    }

    .banner_headLine h2 {
        font-size: 25px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .banner1, .banner2 {
        padding-bottom: 10px;
    }

    .banner_bar {
        display: none;
    }

     #geral {
        margin-top: 70px;
        padding: 20px;
    }

    .container {
        flex-direction: column;
    }

    .widget_body img {
        width: 50px;
        height: 50px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding: 20px;
    }
}

@media (max-width: 320px) {
    .banner_headLine h2 {
        color: #555555;
    }

    #geral {
        margin-top: 180px;
        padding-left: 50px;
    }

    .widget_item img {
        width: 100%;
        height: auto;
    }

    aside {
        margin-right: 30px;
    }
}